@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-montserrat), sans-serif;
  touch-action: pan-x pan-y pinch-zoom;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, sans-serif;
  touch-action: pan-x pan-y pinch-zoom;
}
